.Topbar{
        width: 100%;
        padding: 3px 3px;
        height: 10vh;
        display: flex;
        align-items: center;
}
.indices{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 14px;
        margin-top: 14px;
        justify-content: space-around;
        padding-right: 10px;
}
.nifty,.sensex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0px 2px;
        padding-right: 30px;
}
.index{
        padding: 0px 4px;
}