.Topbar{
        width: 100%;
        padding: 3px 3px;
        height: 10vh;
        display: flex;
        align-items: center;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.indices{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 14px;
        margin-top: 14px;
        justify-content: space-around;
        padding-right: 10px;
}
.nasdaq{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0px 2px;
        padding-right: 7px;
}

.dowjones
{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0px 2px;
        padding-right: 7px;
}
.index{
        padding: 0px 4px;
}